@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000;
  color: #f6f6f6;
}
.container{
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__content{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.destaque{
  color: #22d4fd;
}

.container__content_title{
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.container__content_text{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.container__content_links{
  display: flex;
  justify-content: space-between;
}

.container__content_links_link{
  background-color: #22d4fd;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
